.menu-item{
    display: flex;
    padding: 5px;
    border-radius: 4px;
    transition: background-color ease ease-in-out 220ms;
    &:hover{
        background-color: rgba(22,24,35,0.03);
    }
    &.active{
        color: var(--primary);
    }
}