.wrapper {
    //dat bien tai day cung duoc chi can dat vao the lon nhat
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0 1px 1px rgb(0 0 0/12%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: var(--default-layout-width);
}

.logo{
    display: flex;
    align-items: center;
    height: var(--default-layout-header-height);
}
.search{
    display: flex;
    align-items: center;
    width: 361px;
    height: 46px;
    padding-left:16px;
    background-color: rgba(22,24,35,0.06);
    border-radius: 92px;
    overflow: hidden;
    border: 1.5px solid transparent;
    position: relative;
    input{
        flex: 1;
        color:var(--black);
        font-size: 1.2rem;
        padding: 12px 0;
        background-color: transparent;
        caret-color: red;  
    }
    input:not(:placeholder-shown)~.btn-search{
        color: rgba(22,24,35,0.9);

    }
    &:focus-within{
        border: 1.5px solid rgba(22,24,35,0.2);
        // border: 1.5px solid red;
    }

}
.search, .search-result{
    width: 361px;
}
.search-title{
    color: rgba(22,24,35,0.6);
    font-size: 1.2rem;
    font-weight: 600;
}
.clear{
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22,24,35,0.4);

}
.loading{
position: absolute;
font-size: 16px;
right: 70px;

top: 50%;
transform: translateY(-50%);
color: rgba(22,24,35,0.4);
}
.btn-search{
    width: 52px;
    height: 100%;
    font-size: 20px;
    margin-left: 50px;
    border-left: 1px solid rgba(22,24,35,0.1);
    color: rgba(22,24,35,0.4);
    &:hover{
        cursor: pointer;
        background-color: rgba(22,24,35,0.03);
    }
    &:active{
        background-color: rgba(22,24,35,0.03);

    }
}
.test{
    color: aqua;
}
.more-btn{
    margin-left: 18px;
    padding: 6px;

    background-color: var(--white);
}
.menu-items{
    width: 224px;

}
.btn-bars{
    margin-left: 10px;
    padding: 6px;
    background-color: var(--white);
}

.actions{
    display: flex;
    align-items: center;
}
.action-btn{
    background-color:transparent;
    font-size:1.5rem;
    padding: 4px;
    margin: 4px;

}
.user-avatar{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 999px;
    margin-left: 4px;
}